.color-green { color: #6BC728 !important; }


.color-green:hover{ text-decoration: underline !important; font-weight: bold; }

.navbar-default { background-color: white !important; border-color: white !important; }

.top { margin-top: 3em; }

.bg-purple { background-color: #B13FED }

.newcl { color: #6BC728 !important; }

.navbar-right { margin-right: 5em !important;}
.navbar-default {max-height: 10em;}